
h1 {
    color: orange;
}
.background-container {
    width: 90%;
    height: auto;
    padding: 0 0 0 50px;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}

// #header-and-nav-container {
//     display: flex;
//     align-items: flex-start;
// }

#main-header-container {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#main-header-container {
    display: flex;
    align-items: center;
}

#main-header {
    margin-bottom: 3px;
}

#main-header-container ul {
    display: flex;
    width: 150px;
    height: 25px;
    list-style: none;
    padding: 0;
    margin-left: 100px;
}

#main-header-container ul li {
    width: 25px;
    margin-right: 30px;
}

.logo-li a img {
    height: 100%;
    width: auto;
    transition: all 1s;
}

.logo-li a img:hover {
    animation: flip-icon 2s ease-in-out infinite;
}

@keyframes flip-icon {
    0% {
        transform: rotateY(0deg)
    }

    50% {
        transform: rotateY(180deg)
    }

    100% {
        transform: rotateY(360deg)
    }
}
.content-box {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-left: auto;
    padding: 35px;
    box-sizing: border-box;
    border: 10px
    
}

.bar-chart {
    display: flex;
    justify-content: right;
    height: auto;
    width: 100%;
    margin-bottom: 125px;
    margin-left: 20px;
    min-height: 600px;
    min-width: 600px;
    font-size: 8px;
}

.dropbtn {
    background-color: #a87e0a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #312408;
}

#myInput {
    box-sizing: border-box;
    // background-image: url('github.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    display: flex;
    justify-content: center;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    min-height: 25px;

    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
}

.y-axis-label {
    font-size: 10px;
    font-family: sans-serif;
} 
.source-text {
    font-size: 10px;
    font-family: sans-serif;
}

.tooltip {
  background-color: #f8f6ef;
  position: absolute;
  opacity: 0;
  color: #191919;
  font-size: 20px;
  padding: 5px;
  pointer-events: none;
  border: 2px solid #8f8779;
  border-radius: 3px

}

.text-area {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    margin-right: 25px; 
   
}

.search-box, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}
.h3 {
    padding: 10px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    background: darken(rgb(105, 179, 162), 4%);
    color: white;
    line-height: 150%;
    // border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}


form {
    box-sizing: border-box;
    bottom: 50px;
    width: 260px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    border-top: 50px;
    padding-bottom: 20px;
    
    border-radius: 3px;
    h3 {
        box-sizing: border-box;
        padding: 20px;
        margin: 0;
    }
}

input {
    display: block;
    width: 200px;
    height: 25px;
    margin: 0px 25px;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px rgb(105, 179, 162);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, rgb(105, 179, 162) 4%);
}

button {
  border: none;
  background: rgb(105, 179, 162);
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover { 
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}

.search-box{
    display: flex;
    justify-content: center;
}
 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width:50%; /* Could be more or less, depending on screen size */
    overflow: hidden;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .print-currencies {
    font-size: 15px;
    padding: 5px
  }

  
  .modal-content {
    background: whitesmoke;
    overflow: scroll;
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    padding: 3em;
    font: 100%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25)
  }
//   p {
//     margin: 0 0 1.5em;
//   }
  
.modal-content::-webkit-scrollbar {
    width: 1em;
}
   
.modal-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
  
